.app {
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.cassette {
    z-index: 10;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 0px;
    margin-top: 21%;
    width: 33.75em;
    /* width: 32%; */
    background-color: #301560;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 0px;
    height: 18.75em;
    box-shadow: -4px 8px 16px rgba(0, 0, 0, 0.5);
    border-radius: 24px;
    position: relative;
}

.cassette::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 24px;
    padding: 3px;
    background: linear-gradient(to right, #D97FFF, #5D177A);
    mask: no-repeat center / cover;
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}


.cassette2 {
    z-index: 10;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 0px;
    /* margin-top: 18.75em; */
    margin-top: -10%;
    width: 33.75em;
    /* width: 32%; */
    background-color: #301560;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 0px;
    height: 18.75em;
    box-shadow: -4px 8px 16px rgba(0, 0, 0, 0.5);
    border-radius: 24px;
    position: relative;
}

.cassette2::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 24px;
    padding: 3px;
    background: linear-gradient(to right, #D2EFF3, #105B40);
    mask: no-repeat center / cover;
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}


.cassette3 {
    z-index: 10;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 0px;
    width: 33.75em;
    margin-top: 21%;
    /* width: 32%; */
    background-color: #301560;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center 0px;
    height: 18.75em;
    box-shadow: -4px 8px 16px rgba(0, 0, 0, 0.5);
    border-radius: 24px;
    position: relative;
}

.cassette3::before {
    content: "";
    position: absolute;
    inset: 0;
    border-radius: 24px;
    padding: 3px;
    background: linear-gradient(to right, #FFDCD9, #6C2812);
    mask: no-repeat center / cover;
    -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
    -webkit-mask-composite: xor;
    mask-composite: exclude;
}


.nail1 {
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: absolute;
}

.nail1 img {
    margin: 12px;
}

.nail2 {
    display: flex;
    bottom: 0;
    justify-content: space-between;
    width: 100%;
    position: absolute;
}

.nail2 img {
    margin: 12px;
}

.inner_card {
    width: 27.75em;
    box-shadow: -3px -3px 3px black, 3px -3px 3px black, 0px 3px 0px black;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
    flex-direction: column;
    margin: auto;
    margin-bottom: 10px;
    height: 182px;
    position: relative;

    /* background-color: #F9D4FF; */
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    /* border-radius: 30px 0 30px 0/ 0 30px 0 30px; */
}

.header {
    margin: 0px auto;
    display: flex;
    /* background-color: red; */
}

.header h1 {
    font-family: 'Tropical Asian DEMO';
    font-style: normal;
    font-weight: 550;
    font-size: 3.25rem;
    line-height: 0px;
    color: #0D041D;
}

.controls {
    margin: 0px auto;
    width: 18.75em;
    /* width: 67%; */
    align-items: center;
    height: 68px;
    border: 2px solid #130828;
    border-radius: 40px;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
}

.controls div {
    margin: 0px 8px;
}


.controls svg {
    cursor: pointer;
}

.song_title {
    width: 27.75em;
    background-color: black;
    height: 38px;
    margin: auto;
    margin-top: 2px;
    border-radius: 24px;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    overflow: hidden;
}

.song_title a {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    align-items: center;
    width: 100%;
}

.song_title .title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 15px;
    overflow: auto;
    display: inline-block;
    white-space: nowrap;
    text-align: center;
    animation: slide 10s linear infinite;
}

.song_title a {
    color: white;
    text-decoration: none;
}

.song_title .default {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    text-align: center;
    line-height: 15px;
    animation: blink 2.5s infinite;
}

.song_title svg {
    margin: 0px 7px;
}

.color_toggle {
    display: flex;
    margin: auto;
    border: 2px solid rgba(255, 255, 255, 0.08);
    backdrop-filter: blur(6px);
    justify-content: space-between;
    border-radius: 24px;
    /* width: 15%; */
    width: 15em;
    align-items: center;
    height: 50px;
    background: rgba(13, 13, 13, 0.3);
}

.color_toggle p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    line-height: 15px;
    margin: 0px 16px;
    letter-spacing: 0.06em;
    text-transform: uppercase;

    color: #FFFFFF;
}

.inner_color {
    cursor: pointer;
    height: 40px;

    background: #F9D4FF;
    border-radius: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 18px;
}

.inner_color p {
    font-family: 'Tropical Asian DEMO';
    font-style: normal;
    font-weight: 400;
    font-size: 1.75rem;
    line-height: 20px;
    color: #0D041D;
}

.inner_color img {
    background-color: #1D0C3C;
    margin-right: 18px;
    border-radius: 50px;
    z-index: 1000;
}

.duck_animation {
    display: flex;
    justify-content: center;
    margin: 0px auto;
    margin-top: -3%;
}

.loader {
    margin: auto;
}

.span {
    height: 100vh;
    width: 100%;
    background-color: #2E1040;
}

.cloud {
    margin: 42px 30px;
    width: 4px;
    height: 10px;
    opacity: 0.5;
    position: relative;
    box-shadow: 6px 0px 0px 0px rgba(255, 255, 255, 1),
        12px 0px 0px 0px rgba(255, 255, 255, 1),
        18px 0px 0px 0px rgba(255, 255, 255, 1),
        24px 0px 0px 0px rgba(255, 255, 255, 1),
        30px 0px 0px 0px rgba(255, 255, 255, 1),
        36px 0px 0px 0px rgba(255, 255, 255, 1);

    -webkit-animation: rain 1s linear infinite alternate;
    -moz-animation: rain 1s linear infinite alternate;
    animation: rain 1s linear infinite alternate;
}

.cloud:after {
    width: 40px;
    height: 10px;
    position: absolute;
    content: "";
    background-color: rgba(255, 255, 255, 1);
    top: 0px;
    opacity: 1;
    -webkit-animation: line_flow 2s linear infinite reverse;
    -moz-animation: line_flow 2s linear infinite reverse;
    animation: line_flow 2s linear infinite reverse;
}

.footer {
    display: flex;
    margin: 0px auto;
    z-index: 100000;
    bottom: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.footer p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    font-size: 1.125rem;
    line-height: 1.25rem;
}

.footer p a {
    text-decoration: none;
}

@-webkit-keyframes rain {
    0% {
        box-shadow: 6px 0px 0px 0px rgba(255, 255, 255, 1),
            12px 0px 0px 0px rgba(255, 255, 255, 0.9),
            18px 0px 0px 0px rgba(255, 255, 255, 0.7),
            24px 0px 0px 0px rgba(255, 255, 255, 0.6),
            30px 0px 0px 0px rgba(255, 255, 255, 0.3),
            36px 0px 0px 0px rgba(255, 255, 255, 0.2);
    }

    100% {
        box-shadow: 6px 0px 0px 0px rgba(255, 255, 255, 0.2),
            12px 0px 0px 0px rgba(255, 255, 255, 0.3),
            18px 0px 0px 0px rgba(255, 255, 255, 0.6),
            24px 0px 0px 0px rgba(255, 255, 255, 0.7),
            30px 0px 0px 0px rgba(255, 255, 255, 0.9),
            36px 0px 0px 0px rgba(255, 255, 255, 1);
        opacity: 1;
    }
}

@-moz-keyframes rain {
    0% {
        box-shadow: 6px 0px 0px 0px rgba(255, 255, 255, 1),
            12px 0px 0px 0px rgba(255, 255, 255, 0.9),
            18px 0px 0px 0px rgba(255, 255, 255, 0.7),
            24px 0px 0px 0px rgba(255, 255, 255, 0.6),
            30px 0px 0px 0px rgba(255, 255, 255, 0.3),
            36px 0px 0px 0px rgba(255, 255, 255, 0.2);
    }

    100% {
        box-shadow: 6px 0px 0px 0px rgba(255, 255, 255, 0.2),
            12px 0px 0px 0px rgba(255, 255, 255, 0.3),
            18px 0px 0px 0px rgba(255, 255, 255, 0.6),
            24px 0px 0px 0px rgba(255, 255, 255, 0.7),
            30px 0px 0px 0px rgba(255, 255, 255, 0.9),
            36px 0px 0px 0px rgba(255, 255, 255, 1);
        opacity: 1;
    }
}

@keyframes rain {
    0% {
        box-shadow: 6px 0px 0px 0px rgba(255, 255, 255, 1),
            12px 0px 0px 0px rgba(255, 255, 255, 0.9),
            18px 0px 0px 0px rgba(255, 255, 255, 0.7),
            24px 0px 0px 0px rgba(255, 255, 255, 0.6),
            30px 0px 0px 0px rgba(255, 255, 255, 0.3),
            36px 0px 0px 0px rgba(255, 255, 255, 0.2);
    }

    100% {
        box-shadow: 6px 0px 0px 0px rgba(255, 255, 255, 0.2),
            12px 0px 0px 0px rgba(255, 255, 255, 0.3),
            18px 0px 0px 0px rgba(255, 255, 255, 0.6),
            24px 0px 0px 0px rgba(255, 255, 255, 0.7),
            30px 0px 0px 0px rgba(255, 255, 255, 0.9),
            36px 0px 0px 0px rgba(255, 255, 255, 1);
        opacity: 1;
    }
}

@-webkit-keyframes line_flow {
    0% {
        width: 0px;
    }

    100% {
        width: 40px;
    }
}

@-moz-keyframes line_flow {
    0% {
        width: 0px;
    }

    100% {
        width: 40px;
    }
}

@keyframes line_flow {
    0% {
        width: 0px;
    }

    100% {
        width: 40px;
    }
}




@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@keyframes slide {
    0% {
        transform: translateX(100%);
    }

    100% {
        transform: translateX(-100%);
    }
}

.inactive {
    display: flex;
    align-items: center;
    animation: spin 1.5s linear infinite;
    animation-play-state: paused;
}

.active {
    display: flex;
    align-items: center;
    animation: spin 1.5s linear infinite;
}

@keyframes blink {
    50% {
        opacity: 0;
    }
}

@media screen and (max-width: 920px) {
    .cassette {
        margin: auto;
        width: 75%;
        height: 16em;
        /* margin-top: 43%; */
    }

    .cassette2 {
        margin: auto;
        width: 75%;
        height: 16em;
        /* margin-top: -10%; */
    }

    .cassette3 {
        margin: auto;
        width: 75%;
        height: 16em;
        /* margin-top: 43%; */
    }

    .inner_card {
        width: 83%;
        height: 8em;
        align-items: center;
    }

    .controls {
        width: 83%;
        height: 45px;
        align-items: center;
    }

    .color_toggle {
        width: 40%;
    }

    .header h1 {
        font-size: 2.0875rem;
    }

    .duck_animation img {
        width: 20%;
    }
}

@media screen and (max-width: 540px) {
    .app {
        background-size: contain;
        background-repeat: repeat;
    }

    .cassette {
        margin: auto;
        width: 95%;
        height: 16em;
        margin-top: 50%;
    }

    .cassette2 {
        margin: auto;
        width: 95%;
        height: 16em;
        margin-top: -20%;
    }

    .cassette3 {
        margin: auto;
        width: 95%;
        height: 16em;
        margin-top: 50%;
    }

    .inner_card {
        width: 83%;
        height: 8em;
        align-items: center;
    }

    .controls {
        width: 83%;
        height: 45px;
        align-items: center;
    }

    .controls div svg {
        width: 1.875em;
    }


    .controls svg {
        width: 1.875em;
    }

    .song_title {
        width: 83%;
    }

    .color_toggle {
        width: 60%;
        margin: 0px auto;
        margin-bottom: 100px;
    }

    .song_title .title {

        font-size: 0.625rem;
        line-height: 0.625rem;
    }

    .song_title .default {
        font-size: 0.75rem;
        line-height: 0.625rem;
    }

    .header h1 {
        font-size: 2.1875rem;
    }

    .color_toggle p {
        font-size: 0.75rem;
    }

    .inner_color p {
        font-size: 1.625rem;
    }

    .duck_animation img {
        width: 70%;
    }

    .footer p {
        font-size: 1rem;
    }
}